.orders {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &_tikets {
    width: 49%;

    &__filter {
      display: flex;
      height: 40px;
      align-items: center;
    }

    &__sort {
      width: 20px;
      margin-right: 16px;
      div {
        background-color: #319dff;
        height: 2px;
        border-radius: 2px;
        margin-bottom: 8px;
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 70%;
        }
        &:nth-child(3) {
          width: 50%;
          margin-bottom: 0;
        }
      }
    }

    &__sort2 {
      width: 20px;
      transform: rotate(90deg);
      opacity: 0.7;

      div {
        background-color: #319dff;
        border-radius: 2px;
        height: 2px;
        margin-bottom: 8px;
        &:nth-child(3) {
          width: 100%;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          width: 70%;
        }
        &:nth-child(1) {
          width: 50%;
        }
      }
    }

    &__tikorder {
      margin-left: 16px;
      ul {
        list-style: none;
        display: flex;

        img {
          margin-right: 12px;
          position: relative;
          top: -2px;
        }
        button {
          display: block;
          font-weight: 500;
          color: #e5f3ff;
          font-size: 14px;
        }

        li {
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      &_active_text {
        color: #319dff;
      }

      &_active {
        background-color: #319dff;
        color: #319dff;
        border: 0;
        height: 2px;
        margin-top: 5px;
      }
    }

    &__count {
      display: flex;
      margin-left: 26px;

      p {
        &:first-child {
          margin-right: 5px;
        }
      }
    }

    &__sort3 {
      width: 40px;
      margin-left: 26px;
      background-color: #319dff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
    }

    &__create {
      display: flex;
      border: 1px solid #319dff;
      padding: 12px 24px;
      margin-left: 12px;
      font-weight: 600;
      font-size: 16px;
      color: #eef0f4;
      border-radius: var(--radius12);
      align-items: center;

      p {
        margin-left: 12px;
        position: relative;
        top: -1.5px;
      }
    }

    &__orders {
      background-color: #1d232c;
      border-radius: var(--radius12);
      margin-top: 17px;
      min-height: 600px;
      padding-bottom: 20px;

      &__table {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 16px 20px;
        border-bottom: 1px solid #586a84;

        &_item,
        &_item_o {
          display: flex;

          align-items: center;
          font-weight: 500;
          color: #7d8fa9;
          font-size: 16px;

          img {
            position: relative;
            top: 2px;
            margin-left: 10px;
          }
        }

        &_item_o {
          color: #eef0f4;

          &:nth-child(1) {
            width: 30%;

            div {
              margin-left: 5px;
              font-weight: 400;
              font-size: 15px;

              p:nth-child(2) {
                color: #dde1e8;
                font-size: 14px;
              }
            }
          }

          &:nth-child(4) {
            position: relative;
          }
        }

        &_item_status {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #cbd3dd;
          margin-right: 8px;

          &_modal {
            position: absolute;
            z-index: 15;
            top: 30px;
            background-color: #3b4758;
            border-radius: var(--radius6);

            ul {
              list-style: none;
            }

            li {
              border-bottom: 1px solid #586a84;
              padding: 5px 10px;
              cursor: pointer;
              &:nth-child(1) {
                color: #2befb3;
              }
              &:nth-child(2) {
                color: #ff316a;
              }
              &:last-child {
                border: 0;
              }
            }
          }
        }

        &_set {
          width: 4px;
          height: 20px;
          div {
            background-color: #319dff;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            margin-bottom: 4px;

            &:nth-child(1) {
              width: 100%;
            }
            &:nth-child(2) {
              width: 100%;
            }
            &:nth-child(3) {
              width: 100%;
              margin-bottom: 0;
            }
          }
        }

        &_summ_m {
          display: none;
        }

        &_id_block {
          display: none;
          margin-right: 5px;
        }
      }
    }
  }

  &_charter {
    width: 49%;

    &_filter {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &_padding {
      padding: 12px 16px;
    }

    &_chart {
      background-color: #1d232c;
      border-radius: var(--radius12);
      min-height: 400px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    &_sells {
      margin-top: 40px;
      border-top: 2px solid #586a84;

      &_name {
        padding: 20px 0 10px 20px;
      }
    }
  }
}

.filter_pc {
  display: flex;
}

.filter_modile {
  display: none;
}

@media (max-width: 1550px) {
  .orders_tikets__create {
    p {
      display: none;
    }
  }
}

@media (max-width: 1439px) {
  .orders {
    display: block;
    &_charter {
      width: 100%;
      margin-top: 20px;
    }

    &_tikets {
      width: 100%;

      &__orders {
        min-height: 300px;
      }

      &__create {
        p {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .orders {
    &_charter_filter {
      display: block;

      h2,
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 750px) {
  .orders {
    &_tikets {
      &__mobile_one {
        display: flex;
        align-items: center;
      }

      &__mobile_two {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        margin-top: 16px;

        &_date {
          display: flex;
          align-items: center;

          p {
            color: #e5f3ff;
            font-size: 14px;
          }
          img {
            margin-left: 10px;
          }
        }
      }

      &__filter {
        display: block;
        height: auto;
      }

      &__count {
        font-size: 14px;
        margin-left: 20px;
      }

      &__sort3 {
        width: 32px;
        height: 32px;
        margin-left: 0;
      }

      &__create {
        padding: 9px;
        margin-left: 10px;
      }

      &__orders {
        &__table {
          &:nth-child(1) {
            display: none;
          }

          &_item_o:nth-child(1) {
            width: auto;

            div {
              p:nth-child(2) {
                margin-top: 6px;
                font-size: 12px;
              }
            }
          }

          &_set {
            display: none;
          }

          &_summ_m {
            margin-bottom: 10px;
            text-align: end;
            display: block;
          }

          &_summ_btn {
            font-size: 12px;
          }

          &_summ_hidden {
            display: none;
          }

          &_id_hidden {
            display: none;
          }

          &_id_block {
            display: block;
          }
        }
      }
    }
  }

  .filter_pc {
    display: none;
  }
  .filter_modile {
    display: block;
  }
}

@media (max-width: 411px) {
  .orders {
    &_tikets {
      &__orders {
        &__table {
          padding: 16px 10px;
        }
      }

      &__count {
        display: block;
      }
    }
  }
}
